
logs/spring.log.2022-09-11.0.gz
logs/spring.log.2022-09-10.0.gz
logs/spring.log.2022-09-09.0.gz
logs/spring.log.2022-09-07.0.gz
logs/spring.log
*.gz
*.properties
src/main/resources/application.properties
